{# File: publications/templates/publications/publication_document.html #}
{% extends "core/base.html" %}
{% load i18n %}

{% block seo_title %}{{ meta_title|default:title }}{% endblock %}
{% block seo_description %}{{ meta_description }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container-fluid publication-document-page px-lg-4 px-0">

    <div class="publication-document-viewer shadow-sm overflow-hidden">
        <iframe
            src="{{ publication.attachment.url }}#toolbar=0&navpanes=0&scrollbar=1"
            title="{{ publication.title }}"
            width="100%"
            height="calc(100vh - 170px)"
            style="border: 0;"
        ></iframe>
    </div>

</div>
{% endblock %}