<!-- File: accounts/templates/registration/password_reset_email.html -->
{% load i18n %}
{% autoescape off %}
{% translate "Hi" %} {{ user.get_username }},

{% translate "It looks like you requested a password reset for your account at" %} {{ site_name }}.

{# --- THE CORRECTION --- #}
{# Generate the password reset URL outside of blocktranslate #}
{% url 'password_reset_confirm' uidb64=uid token=token as reset_url %}

{# Now use blocktranslate, passing the generated URL as a variable #}
{% blocktranslate with reset_password_url=reset_url %}
Please go to the following page and choose a new password:
{{ protocol }}://{{ domain }}{{ reset_password_url }}
{% endblocktranslate %}
{# --- END CORRECTION --- #}

{% translate "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% translate "The" %} {{ site_name }} {% translate "team" %}
{% endautoescape off %}