{% load i18n %}

{# This is the partial template for the Blog Categories widget. #}
<div class="card mb-4 shadow-sm border-0">
    <h5 class="card-header p-0">
        {# The button acts as a clickable header for the collapsible content. #}
        <button class="btn btn-light w-100 text-start d-flex justify-content-between align-items-center"
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#collapse-widget-{{ widget.id }}" {# Uses the unique widget ID #}
                aria-expanded="true" 
                aria-controls="collapse-widget-{{ widget.id }}">
            
            <span>
                {# The title is dynamic, coming from the widget object in the database. #}
                {{ widget.translated_title }}
            </span>
            
            {# The single chevron icon that will be rotated by our CSS. #}
            <i class="fas fa-chevron-down TAVATA-collapse-icon"></i>
        </button>
    </h5>

    {# The collapsible content area. It starts closed by default. #}
    <div class="collapse show" id="collapse-widget-{{ widget.id }}">
        <div class="list-group list-group-flush">
            {# We loop through the 'items' list (which contains categories) passed from the templatetag. #}
            {% for category in items %}
                <a href="{{ category.get_absolute_url }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    {# Display the category name. #}
                    {{ category.name }}
                    {# 'num_posts' is the field we created with .annotate() in the templatetag. #}
                    <span class="badge bg-primary rounded-pill">{{ category.num_posts }}</span>
                </a>
            {% empty %}
                {# This message is displayed if the 'items' list is empty. #}
                <span class="list-group-item">{% translate "No categories with posts available." %}</span>
            {% endfor %}
        </div>
    </div>
</div>
